<!-- <div class="message_bar" id="bugs_message_bar">
  <p>I hope you like this new site &mdash; I just released it!  I'll level with you: I'm a busy guy and I haven't gotten to test everything yet, so if something isn't quite right, either <a href="mailto:brian.reed.design@gmail.com" target="_blank">let me know</a> or wait til I get some more QA done.  Thanks for checking it out!</p>
</div> -->

<header id="header">
  <!-- <div class="message_bar" id="ie_message_bar">
    <p><span class="warning">WTF??!</span> Seriously? Internet Explorer?? are you <em>trying</em> to make my job harder? this is 2015, get a <a href="http://google.com/chrome/" target="_blank">real browser</a> already, damn...</p>
  </div> -->

  <div class="core fg">
    <img alt="Logo" id="logo" src="{{ site.image_path }}/logo.png" />
  </div>
</header>
<nav id="side_nav">
  <a data-bucket="work_intro_bucket" href="" id="work_link">WORK</a>
  <a data-bucket="music_intro_bucket" href="" id="music_link">MUS<span class="alt">I</span>C</a>
  <a data-bucket="art_intro_bucket" href="" id="art_link">AR<span class="alt">T</span></a>
</nav>