<!doctype html>
<html class="no-js external-page no-touch no-phone" lang="en">
  {% include head.html %}
  <body>
    <header id="header">
      <!--[if IE]>
      <div id="message_bar">
        <p><span class="warning">wtf...</span> seriously? internet explorer?? are you <em>trying</em> to make my job harder? this is 2015, get a <a href="http://google.com/chrome/" target="_blank">real browser</a> already, damn...</p>
      </div>
      <![endif]-->

      <div class="core fg">
        <img alt="Logo" id="logo" src="{{ site.image_path }}/logo.png" />
      </div>
    </header>

    <main id="external_area">
      {{ content }}
    </main>
  </body>
</html>
